<nav class="border-gray-200 bg-white dark:bg-gray-900">
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
  >
    <a href="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg
        aria-hidden="true"
        class="pre-logo-svg"
        focusable="false"
        viewBox="0 0 24 24"
        role="img"
        width="50px"
        height="50px"
        fill="none"
      >
        <path
          [attr.fill]="light()"
          fill-rule="evenodd"
          d="M21 8.719L7.836 14.303C6.74 14.768 5.818 15 5.075 15c-.836 0-1.445-.295-1.819-.884-.485-.76-.273-1.982.559-3.272.494-.754 1.122-1.446 1.734-2.108-.144.234-1.415 2.349-.025 3.345.275.2.666.298 1.147.298.386 0 .829-.063 1.316-.19L21 8.719z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span
        class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
        >NIKE</span
      >
    </a>
    <button
      data-drawer-target="drawer-navigation"
      data-drawer-toggle="drawer-navigation"
      type="button"
      class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-gray-200 dark:text-gray-200 dark:hover:bg-gray-800 dark:focus:ring-gray-800 md:hidden"
      aria-controls="drawer-navigation"
      aria-expanded="true"
    >
      <svg
        class="h-5 w-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto">
      <app-defaultbar [defaultNavBarLinks]="navLinks"></app-defaultbar>
    </div>
  </div>
  <app-sidebar [sideBarLinks]="navLinks"></app-sidebar>
</nav>
